.header {
  background-color: white;
  box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.034);
}
.header__container {
  max-width: var(--screen-size);
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  margin: 0 2rem;
}
.header__logo {
  font-weight: 900;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}
.header__darkmode {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__txt {
  padding-left: 1rem;
  font-size: 1.4rem;
}

@media (min-width: 425px) {
}
