.cards {
}
.card__container {
  max-width: var(--screen-size);
  margin: 0 auto;
}
.card__wrapper {
  margin: 0 2rem;
}
@media (min-width: 425px) {
  .card__wrapper {
    margin: 0 15%;
  }
}
@media (min-width: 768px) {
  .card__wrapper {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
  }
}
@media (min-width: 1024px) {
  .card__wrapper {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
  }
}
