@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
:root {
  /*  CCOLORS  */
  --light-white: #fafafa;
  --light-pink: #da6d97;

  /*  FONTS  */
  --font-dm: "DM Serif Display", serif;
  --font-ps: "Public Sans", sans-serif;

  /*  SIZE  */
  --screen-size: 1280px;
  --m-horizontal-small: 2.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--light-white);
}
